@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(57, 40, 159, 1);
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 1.5em;
}

/* header */
.container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu-container{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-items{
    margin-left: 20px;
    font-size: 15px;;
}

.menu-items a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.menu-items a:hover {
    font-weight: bold;
    font-size: 18px;
    color: rgb(141, 141, 236); 
    text-shadow: 2px 2px 4px black;
}

#logo{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

#menu-btn{
    color: white;
    margin-left: 20px;
    border: none;
    background-color: rgba(250, 144, 33, 1);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#menu-btn:hover {
    border-radius: 10px;
    background: linear-gradient(to right, rgba(250, 131, 5, 1), rgba(251, 158, 60, 1));
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 115, 230, 0.6);
}

/* container 2 */
.container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
}

.container-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 75px;
}

#text-pro{
    font-size: 20px;
    color: rgba(232, 125, 14, 1);
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
    margin-bottom: 20px;
}

#title2{
    margin-bottom: 20px;
    font-weight: 800;
}

#text2{
    font-size: 15px;
    margin-bottom: 30px;
}

#btn2{
    border: none;
    color: white;
    padding: 10px 15px;
    background: linear-gradient(to right, rgba(250, 131, 5, 1), rgba(251, 158, 60, 1));
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#btn2:hover {
    border-radius: 10px;
    background: linear-gradient(to right, rgba(250, 131, 5, 1), rgba(251, 158, 60, 1)); 
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 115, 230, 0.6);
}

.container2-images{
    display: flex;
}

/* container 3*/
.container3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.container-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1125px;
}

#title3{
    font-weight: 600;
    font-size: 25px;
}

#btn3{
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.11);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#btn3:hover {
    background-color: rgb(37, 37, 117);
    border-radius: 10px;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(142, 194, 245, 0.336);
}

.container3-images{
    display: flex;
    width: 100%;
    justify-content: center;
}

.container3-images img{
    width: 200px;
    margin-top: 60px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.container3-images img:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(142, 194, 245, 0.336);
}

.container-bottom{
    display: flex;
    width: 100%;
    justify-content: space-between;
    justify-content: space-around;
}

.item3{
    display:flex;
    margin-top: 15px;
    align-items: center;
}

.text3{
    font-size: 20px;
    margin-left: 15px;
    font-family: "Rubik", sans-serif;
}

/* container 4 */
.container4{
    display: flex;
    justify-content: center;
    margin: 130px 0;
    text-align: center;
}

.container4 h1{
    width: 50%;
    font-weight: 600;
    font-size: 25px;
}

/* container 5 */
.container5{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 130px;
}

.container5-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    margin-right: 580px;
}

#text5{
    font-size: 15px;
    margin: 50px 0;
}

.container5 img{
    width: 83%;
    max-width: 100%;
}

/* container 6 */


/* container 7 */
.container7{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 100px 0;
}

.container7-content{
    text-align: center;
    margin-bottom: 50px;
}

.container7 img {
    margin: 2px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.container7 img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(142, 194, 245, 0.336);
}

#title7{
    font-weight: 600;
    font-size: 25px;
}

#text7{
    font-size: 15px;
    width: 90%;
    margin: 30px 0;
    margin-left: 40px;
}

/* container 8 */
.container8{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 150px 0px;
}

.container8-content {
    width: 100%;
    margin-left: 225px;
}

#title8{
    font-weight: 600;
    font-size: 25px;
} 

#text8{
    font-size: 15px;
    width: 40%;
    margin: 30px 0; 
}

.container8-input {
    background-color: rgba(28, 20, 15, 1);
    padding: 30px 50px;
    align-items: center;
    border-radius: 10px;
    max-height: 200px;
} 

.container8-input p{
    font-size: 15px;
    width: 70%;
    height: 100px;
    margin: 10px 0;
} 

.container8-input h3{
    font-weight: 500;
    font-style: normal;
} 

#input8{
    color: rgba(137, 137, 137, 1);
    padding: 10px 100px 10px 20px;
    border-radius: 5px;
    border: none;
}

#btn8{
    background: linear-gradient(to top, rgba(250, 131, 5, 1), rgba(251, 158, 60, 1));
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    margin-left: -100px;
}

/* footer */

.container9{
    background-color: black;
    padding: 50px;
    text-align: center;
}

#logo-footer{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

.footer-top{
    display: flex;
    align-items: flex-end;
}

.content8 {
    flex: 1;
    text-align: left;
}

.social-media {
    text-align: center;
}

.social-media a {
    color: white;
    cursor: pointer;
    margin: 0 10px;
    font-size: 20px;
}

.footer-bottom {
    margin-top: 100px;
    font-size: 14px;
}