@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(57, 40, 159, 1);
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 1.5em;
}

/* header */
.container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative; 
    z-index: 10; 
}

.menu-container{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-items{
    margin: 0 30px;
    font-size: 15px;
}

.menu-items a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: font-size 0.3s ease, transform 0.3s ease;
}

.menu-items a:hover {
    font-weight: bold;
    font-size: 18px;
    transform: scale(1.2);
    color: rgb(141, 141, 236); 
    text-shadow: 2px 2px 4px black;
}

#logo{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

#menu-btn{
    color: white;
    margin-left: 20px;
    border: none;
    background-color: rgba(250, 144, 33, 1);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#menu-btn:hover {
    border-radius: 10px;
    background: linear-gradient(to right, rgba(250, 131, 5, 1), rgba(251, 158, 60, 1));
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 115, 230, 0.6);
}